/* Global CSS */

html,
body {
    height 100%;
    font-family: 'Muli', sans-serif;
}

.bg-dark-gray {
    border-color: #3A3A3A;
}

.bg-offwhite {
    border-color: #f1f1f1;
}


/* Navbar */

#menu-toggle {
    position: fixed;
    z-index: 1;
    top: 0;
    border: 0.25px solid #999;
    right: 0;
}

.toggle {
    font-size: 1em;
    margin: 10px 10px 0 0;
    padding: 12px 18px;
}

@media (max-width: 750px){

    .toggle {
        margin: 10px 45px 0 0;
    }

    #menu-toggle {
        margin: 10px 10px 0 0;
    }

    #sidebar-wrapper.active {
        right: 250px;
        width: 210px;
    }

}

.sidebar-nav span {
    color: #E31837;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
    font-size: 25px;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
    -webkit-transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -ms-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    transition: color .3s ease-out;
}

.sidebar-nav li a {
    font-size: 17px;
    margin: 6px 0px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: none;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #E31837;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -ms-transition-property: transform;
    -o-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


/* Header */


#cover {
    color: #fff;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    background: #222 url(../imgs/bg.jpg) no-repeat center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#cover-caption {
    width: 100%;
}

#whoWeAre,
#about,
#connect {
    padding: 10em 0;
}


/*Who We Are */

#whoWeAre h5 {
    letter-spacing: 0.9px;
    line-height: 200%;
    padding-top: 2em;
}

#whoWeAre h1,
#about h1,
#connect h1 {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0px;
}


/* Callout 1 */

body .callout {
    display: table;
    width: 100%;
    height: 600px;
    color: #fff;
    background: url(../imgs/callout.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* About Us */

.bg-light-grey {
    background-color: #F9F9F9;
}

.portfolio-item img {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.portfolio-item img:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

#about .row-regular {
    padding: 3.5em 0 1em 0;
}

#about .row-reverse {
    flex-direction: row-reverse;
    padding: 3.5em 0 1em 0;
}

#about img {
    border-radius: 50%;
}

#about .main-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 3em 0 3em;
}

#about h3 {
    line-height: 125%;
}

#about h5 {
    line-height: 175%;
}


/* Callout 2 */

body .callout2 {
    display: table;
    width: 100%;
    height: 600px;
    color: #fff;
    background: url(../imgs/callout2.jpg) no-repeat center center scroll;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Connect With Us */

#connect .title {
    padding-top: 2em;
}


/* Form */

form {
    padding-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    letter-spacing: 4px;
    padding-top: 0.5em;
    width: 100%
}

label .label-text {
    color: #9B9B9B;
    cursor: text;
    font-size: 1.1em;
    line-height: 20px;
    text-transform: uppercase;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

label input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    color: #000;
    font-size: 2em;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
}

label input:focus {
    width: 100%;
    border-bottom: 2px solid #E31837;
}

label input:focus+.label-text {
    color: #E31837;
    font-size: 0.8em;
    -webkit-transform: translateY(-70px);
    -moz-transform: translateY(-70px);
    -ms-transform: translateY(-70px);
    -o-transform: translateY(-70px);
    transform: translateY(-70px);
}

label input:valid+.label-text {
    font-size: 13px;
    -webkit-transform: translateY(-74px);
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -o-transform: translateY(-74px);
    transform: translateY(-74px);
}

button {
    background-color: #333;
    border: 2px solid #333;
    border-radius: 27px;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 0.75em;
    padding: 15px 30px;
    text-transform: uppercase;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

button:hover,
button:focus {
    border-color: #E31837;
    background-color: white;
    color: #333333;
    outline: 0;
}


/* Footer */

footer {
    background-color: #0E0E0E;
    color: #4A4A4A;
    padding: 50px 0;
}

footer h5 {
    padding: -5px 0;
}

footer .foot-links {
    padding-bottom: 10px;
}

footer a {
    color: #BCABAE;
}

footer h4 {
    letter-spacing: 0.5px;
}

footer a:hover,
footer a:active {
    text-decoration: none;
    opacity: 0.5;
}

.img-hover:hover {
    opacity: 0.7;
}

footer img {
    width: 42px;
    height: 42px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

footer img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
